.Rproj.user
.Rhistory
.RData
.Ruserdata
00-FastqPair/
00-FastqSingle/
00-FastqReal/
01-CleanedReads/
01-CleanedReadsPair/
01-CleanedReadsSingle/
01-CleanedReadsReal
02-MappedReadsBWA/
02-Reports
genome/
basjrcMac
bowtie
bowtieTest
data
examples.md
HE20-100K_L001_R1_001.fastq.gz
HE20-100K_L001_R2_001.fastq.gz
HE21-100K_L001_R1_001.fastq.gz
HE21-100K_L001_R2_001.fastq.gz
index_/
logFolder/
Miniconda3-latest-MacOSX-x86_64.sh
renv/
report/
samplesPais.txt
samplesReal.txt
samplesSingle.txt
tempBowtie/
UMI-tools/
programs/